


body {
    background: rgba(10, 46, 74, 0.758);
    color: rgb(1, 6, 9);
}

.h3 {
    text-align: center;
    font-size: 40px;
 
 }




.sucursales .item1 {
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;

}

.devoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.sucursales .item2 {
    
    width: 100%;
    font-family: 'Impact';
    justify-items:center;
    text-align: center;
    border-radius: 10px;
}


.p{
    font-size: 30px;
    font-weight: normal;
 }
.almagro1{
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}


.almagro2{

    width: 100%;
    font-family: 'Impact';
    justify-items:center;
    text-align: center;
    border-radius: 10px;
}



.carrasco1{
    border-radius: 20px;
    width: 500px;
    overflow: hidden;
    border-radius: 10px;
    justify-items:center;
    text-align: center;
}

.carrasco2{
    width: 100%;
    font-family: 'Impact';
    justify-items:center;
    text-align: center;
    border-radius: 10px;
}
